html, body, h1, h2, h3, div, canvas, ul, ol, li strong {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  font-family: sans-serif;
}

body {
  background: black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

h1 {
  color: white;
  font-size: 42px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.nav > li {
  font-size: 14px;
  float: left;
  margin-left: 15px;
}

a, .nav > li.link {
  color: #20A818;
  cursor: pointer;
}

a:hover, .nav > li.link:hover {
  color: #34D000;
}

.nav > li.name {
  color: white;
}

.hidden {
  display: none;
}

canvas {
  background: url("hubble.jpg");
  background-size: cover;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 16px;
  border: 3px solid gray;
  border-radius: 3px;
}

.game-info {
  font-size: 16px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.button {
  width: 150px;
  margin: auto;
  margin-bottom: 20px;
  
  border: 2px solid grey;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  background: #E0080D;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  background: #ED6F43;
  box-shadow: 0px 0px 0.5px 0.5px #414141;
}

.button.back {
  width: 100px;
  padding: 5px;
  font-size: 16px;
}

.name {
  text-align: center;
  color: white;
}

.name .button {
  padding: 5px 10px;
  font-size: 18px;
}

.name > .name-text {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 25px;
}

.name input {
  font-size: 20px;
  width: 200px;
  padding: 3px;
  margin-right: 20px;
}

.logged-in {
  text-align: center;
  color: white;
  font-style: italic;
  padding-bottom: 10px;
}

.leaderboard {
  list-style-position: inside;
}

.existing-games {
  list-style: none;
}

.leaderboard > li, .existing-games > li {
  width: 200px;
  background: #E0080D;
  margin: auto;
  margin-bottom: 10px;
  
  border: 1px solid white;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 6px;
}

.leaderboard > li:last-of-type, 
.existing-games > li:last-of-type {
  margin-bottom: 30px;
}

.leaderboard > li:hover,
.existing-games > li:hover {
  background: #ED6F43;
}

.existing-games > li:hover {
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}

footer > h3 {
  margin-bottom: 0;
  font-size: 12px;
  text-align: right;
}

.modal-content {
  position: absolute;
  left: 50%;

  margin-left: -218px;

  width: 400px;
  min-height: 100px;
  padding: 18px;
  z-index: 1000;

  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  background: url('stars.jpg') no-repeat;
  background-size: 100%;
  opacity: 0.5;
  z-index: 999;
}

.how-to-play > h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 30px;
  color: black;
}

.how-to-play > h3, .info > h3 {
  color: black;
  font-weight: bold;
  margin: 15px 0;
}

.how-to-play > h3:first-of-type, .info > h3:first-of-type {
  margin-top: 0;
}

.directions, .info {
  font-size: 16px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.how-to-play > div, .info > div {
  margin: 10px 0;
}

.how-to-play > table {
  margin: auto;
  color: black;
  text-align: center;
}

.spacebar {
  text-align: center;
}